@font-face {
    font-family: 'abrilfatface-regular';
    src: url('https://cdn.rawgit.com/idecipher01/abril-fat-face-regular/blob/master/font/abrilfatface-regular.ttf');
    font-weight: 100;
    font-style: normal;
} 
